@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
        @if (ViewBag.Title == null)
        {
            @:"Yorganize"
        }
        else
        {
            @Html.Raw(ViewBag.Title);
        }
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- Stylesheets -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/content/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link href="~/Content/icons.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    <link href="~/Content/icheck/square/blue.css" rel="stylesheet" />

    <!-- Theme -->
    <link href="~/Content/theme.css" rel="stylesheet">
    <link href="~/content/lblue.css" rel="stylesheet">
    <link href="~/Content/custom.css" rel="stylesheet" />


    <!-- HTML5 Support for IE -->
    <!--[if lt IE 9]>
        <script src="~/Scripts/html5shim.js"></script>
    <![endif]-->

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/icons/favicon.ico">
</head>

<body>

    <!-- Header Starts -->
    <header>
        @if (Request.IsAuthenticated)
        {
            @Html.Partial("Partial/_TopBar")
        }
        @Html.Partial("Partial/_Header")
    </header>
    <hr />

    @Html.Partial("Partial/_Message")


    <div class="content">
        @RenderBody()
    </div>

    <!-- Footer -->
    <footer>
        @*  @if (Request.IsAuthenticated)
        {
            @Html.Partial("Partial/_BottomBar")
        }
        @Html.Partial("Partial/_Footer")*@
    </footer>

    <!-- JS -->
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.icheck.min.js"></script>
    <script src="~/Scripts/utils.js"></script>

    @if (TempData["command"] != null && TempData["command"].ToString() == "prepare-profile")
    {
        <script src="~/Scripts/account/prepare-profile-folder.js"></script>
    }

    @RenderSection("scripts", false)

    @*<script src="js/easing.js"></script>*@
    @*<script src="js/custom.js"></script>*@

    <script type="text/javascript">
        $(document).ready(function () {
            // top bar trigger
            $('#top-bar-trigger').mouseenter(function () {
                $('#top-bar-trigger').popover("hide");
                $('#top-bar').show();
            });

            $('#top-bar-trigger').popover({
                placement: "bottom",
                trigger: "manual",
                title: "Views bar",
                content: "Hover this zone to diplay the views.",
                container: "#top-bar-trigger"
            });

            $('#top-bar-trigger').popover("show");

            // bottom bar trigger
            $('#bottom-bar-trigger').mouseenter(function () {
                $('#bottom-bar').show();
                $('#bottom-bar-trigger').popover("hide");
            });

            $('#bottom-bar-trigger').popover({
                placement: "top",
                trigger: "manual",
                title: "Actions bar",
                content: "Hover this zone to diplay the actions bar.",
                container: "#bottom-bar-trigger"
            });

            $('#bottom-bar-trigger').popover("show");

            // cog menu trigger
            $('#cog-menu').popover({
                placement: "bottom",
                html: true, // todo: get content from template
                content: '<i class="icon-cogs"></i> Settings'
            });


            var $files = $('#edit-files');
            var $details = $('#edit-details');

            $('#edit-details-trigger').click(function () {
                $files.hide();
                $details.show();
            });

            $('#edit-files-trigger').click(function () {
                $details.hide();
                $files.show();
            });

        });

        $(document).mouseup(function (e) {
            // hide top-bar when click outside
            var topbar = $('#top-bar');
            var bottombar = $('#bottom-bar');

            if (topbar.has(e.target).length === 0 && bottombar.has(e.target).length === 0) {
                topbar.hide();
                bottombar.hide();
            }
        });

    </script>
</body>
</html>
