@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/_Home.cshtml";
}

@section styles{
    <link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/kendo.bootstrap.min.css" rel="stylesheet" />
    @*    <link href="~/Content/flowplayer/all-skins.css" rel="stylesheet" />*@
}

@section head{
    <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
    @*<script src="http://vjs.zencdn.net/c/video.js"></script>*@
}

@section scripts{
    @*<script src="~/Scripts/flowplayer.min.js"></script>*@
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/underscore.min.js"></script>
    <script src="~/Scripts/backbone.min.js"></script>
    <script src="~/Scripts/backbone.wreqr.min.js"></script>
    <script src="~/Scripts/kendo.web.min.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/Video/categories.js"></script>
    <script src="~/Scripts/Video/videos.js"></script>
    <script src="~/Scripts/Video/player.js"></script>
    <script src="~/Scripts/Video/router.js"></script>
}

@section header{
    <div id="highlighted">
        <div class="container">
            <div class="row-fluid header">
                <h2 class="page-title"><span>Video</span> <small>Video tutorials</small></h2>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="span9">
        <!-- Video Player -->
        <div id="video-player">
            <h3 class="muted">Please select a video from the list to play.</h3>
        </div>
        <!-- Video list -->
        <div id="video-list"></div>
    </div>
    <div class="span3 sidebar sidebar-right">
        <div class="inner">
            <div id="categories-region" class="block">
            </div>
            <div id="edit-video" class="block">
            </div>
        </div>
    </div>

    <!-- Sidebar -->
    @Html.Partial("Partial/_Sidebar")
</div>

<!-- Templates -->
<script id="categories-template" type="text/html">
    @(Request.IsAuthenticated ? Html.Partial("Partial/_Categories") : Html.Partial("Partial/_Categories_Guest"))
</script>
<script id="category-template" type="text/html">
    @(Request.IsAuthenticated ? Html.Partial("Partial/_Category") : Html.Partial("Partial/_Category_Guest"))
</script>
<script id="edit-category-template" type="text/html">
    @Html.Partial("Partial/_EditCategory")
</script>
<script id="video-list-template" type="text/html">
    @(Request.IsAuthenticated ? Html.Partial("Partial/_List") : Html.Partial("Partial/_List_Guest"))
</script>
<script id="video-template" type="text/html">
    @(Request.IsAuthenticated ? Html.Partial("Partial/_Video") : Html.Partial("Partial/_Video_Guest"))
</script>
<script id="video-player-template" type="text/html">
    @Html.Partial("Partial/_Player")
</script>
<script id="edit-video-template" type="text/html">
    @Html.Partial("Partial/_EditVideo")
</script>
