@model Yorganize.Showcase.Web.Models.BlogPostModel
@{
    ViewBag.Title = "Edit post";
    Layout = "~/Views/Shared/_Home.cshtml";
}

@section styles{
    <link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/kendo.bootstrap.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/kendo.web.min.js"></script>
    <script src="~/Scripts/blog/editor.js"></script>
    <script src="~/Scripts/blog/form.js"></script>
    <!-- Enable image upload on existing posts-->
    @if (!Model.IsNew)
    {
        <script src="~/Scripts/blog/upload.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                // create upload control for post image
                $("#files").kendoUpload({
                    async: {
                        saveUrl: '@Url.Action("UploadImage")',
                        // removeUrl: "remove",
                        autoUpload: true
                    },
                    multiple: false,
                    showFileList: false,
                    complete: onUploadComplete,
                    error: onUploadError,
                    success: onUploadSuccess,
                    upload: onUpload
                });
            });
        </script>
    }
}

@section header{
    <div id="highlighted">
        <div class="container">
            <div class="row-fluid header">
                <h2 class="page-title"><span>Blog</span></h2>
                <a href="@Url.Action("Index")" class="btn btn-mini back-link">Back to Blog</a>
                <a class="back-link">&nbsp;</a>
                <!--Show view post on existing posts-->
                @if (!Model.IsNew)
                {
                    <a href="@Url.Action("Post", new { id = Model.Slug })" class="btn btn-mini back-link">View post</a>
                    <a class="back-link">&nbsp;</a>
                }
                <a href="#" id="form-submit" class="btn btn-mini back-link">Save changes</a>
            </div>
        </div>
    </div>
}

<div class="row">
    @using (Html.BeginForm("SavePost", "Blog", FormMethod.Post, new { id = "form-edit-post" }))
    {
        <input type="hidden" value="@Model.ID" id="ID" name="ID" />
        <!--Blog Roll Content-->
        <div class="span8 blog-post">

            <!--Main blog post-->
            <div class="media">
                <div class="media-body">
                    <h4>Title</h4>
                    @Html.TextBoxFor(m => m.Title, new { placeholder = "Post title", @class = "span8" })

                    <h4>Header</h4>
                    @Html.TextAreaFor(m => m.Header, new { placeholder = "Post header", @class = "span8", rows = 5 })

                    <!-- If post exists (not new) -->
                    @if (!Model.IsNew)
                    {
                        <!-- Image -->
                        <h4>Featured image</h4>
                        <div class="span4">
                            <div class="row">
                                @if (!string.IsNullOrEmpty(@Model.ImageUrl))
                                {
                                    <img src="@Url.Content(Model.ImageUrl)" class="media-object img-polaroid" />
                                }
                            </div>
                        </div>
                        <div class="span3">
                            Please select a featured image...
                            <i id="spinner" class="icon-cog icon-spin icon-2x hidden"></i>
                            <input name="files" id="files" type="file" accept="image/*" />
                            <br />
                            <div class="span3">
                                <div class="row">
                                    @Html.HiddenFor(m => m.ImageUrl, new { id = "featured-image" })
                                    <img id="preview-image" src="" alt="Preview" class="media-object img-polaroid hidden" style="width: 100%;" />
                                </div>
                                <!-- Preview image -->

                            </div>

                        </div>
                    }
                    else // If post is new hide the upload controls -->
                    {
                        <p class="lead">Please save the post first to set a featured image.</p>
                    }
                    <!-- Content -->
                    <div class="span8">
                        <div class="row">
                            <h4>Content</h4>
                            @Html.TextAreaFor(m => m.Content, new { rows = 30, id = "editor", style = "height:440px;width:770px;" })
                        </div>
                    </div>
                </div>
            </div>

            <!--Comments-->
            @*@Html.Partial("Partial/_Comments")*@
        </div>
    }
    <!--Sidebar-->
    @Html.Partial("Partial/_Sidebar")

</div>
