@model Yorganize.Showcase.Web.Models.BlogPostModel
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Home.cshtml";
}


@section header{
    <div id="highlighted">
        <div class="container">
            <div class="row-fluid header">
                <h2 class="page-title"><span>Blog</span> <small>@Model.Title</small></h2>
                <a href="@Url.Action("Index")" class="btn btn-mini back-link">Back to Blog</a>
            </div>
        </div>
    </div>
}

<div class="row">

    <!--Blog Roll Content-->
    <div class="span8 blog-post">

        <!--Main blog post-->
        <div class="media">
            <div class="media-body">
                <h3 class="title media-heading">@Model.Title</h3>
                <!-- Meta details -->
                <ul class="inline meta muted">
                    <li><i class="icon-calendar"></i><span class="visible-desktop">Created:</span>@Model.Created.ToShortDateString() &nbsp; @Model.Created.ToShortTimeString()</li>
                    <li><i class="icon-user"></i><span class="visible-desktop">By</span> <a href="#">@Model.Author</a></li>
                </ul>

                <!-- Header -->
                @if (!string.IsNullOrEmpty(Model.Header))
                {
                    <p class="lead">@Model.Header</p>
                    <br />
                }

                <!-- Image -->

                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <img src="@Url.Content(Model.ImageUrl)" class="media-object" />
                    <br />
                }

                <!-- Content -->
                @Html.Raw(Model.Content)
            </div>
        </div>

        <!--Comments-->
        @*@Html.Partial("Partial/_Comments")*@
    </div>

    <!--Sidebar-->
    @Html.Partial("Partial/_Sidebar")

</div>
