@model Yorganize.Showcase.Web.Models.BlogPostItemModel
<div class="media row">
    <a class="span2" href="@Url.Action("Post", new { id = @Model.Slug })">
        @if (!string.IsNullOrEmpty(Model.ThumbnailUrl))
        {
            <img src="@Url.Content(@Model.ThumbnailUrl)" alt="Post thumbnail" class="media-object img-polaroid" style="max-height: 120px" />
        }
    </a>
    <div class="media-body span6">
        <!-- Meta details -->
        <ul class="inline meta muted">
            <li><i class="icon-calendar"></i><span class="visible-desktop">Created:</span>@Model.Created.ToShortDateString() &nbsp; @Model.Created.ToShortTimeString()</li>
            <li><i class="icon-user"></i><span class="visible-desktop">By</span> @Model.Author</li>
            @*<li><i class="icon-tags"></i><span class="visible-desktop">Tags:</span> <a href="#">general</a></li>*@
        </ul>
        <h4 class="title media-heading"><a href="@Url.Action("Post", new { id = @Model.Slug })">@Model.Title</a></h4>

        <p>
            @Html.Raw(HttpUtility.HtmlDecode(Model.Excerpt))
        </p>

        <ul class="inline">
            <li><a href="@Url.Action("Post", new { id = @Model.Slug })" class="btn btn-mini">Read more</a></li>
            <li><a href="@Url.Action("Post", new { id = @Model.Slug, edit = true })" class="btn btn-mini">Edit post</a></li>
            <li><a href="@Url.Action("RemovePost", new { id = @Model.ID })" class="btn btn-mini" data-action="remove-post">Remove</a></li>
            @*<li><a href="blog-post.htm#comments" class="btn btn-mini"><i class="icon-comment"></i>30 Comments</a></li>*@
        </ul>
    </div>
</div>
